<html>  
<head>  
	<title>Download Image</title>
	<link rel="stylesheet" href="/static/styles.css">
</head>  
<body style="margin:0;">
	<h1>Image Enhancher</h1>
	<div class="abc"> 
		<p>Image resolution enhanced to {{y}}x{{x}}</p>  
		<div id="load">
			<p><b>Enchancing the image.</b></p>
		</div>
		<a href={{name}} download={{name}} >
			<img src={{name}} width={{w}} height={{h}}><br>
			<b>Click to download</b>
		</a><br><br> 
		<form action = "/">  
			<input type = "submit" value="Upload another ?">  
		</form><br><br>
	</div>
</body>  
</html>